.ViewTodo {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.FooterTodo {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.ItemNoActive {
    font-weight: bold;
}

.ItemActive {
    text-decoration: line-through;
}

.Active {
    background: chartreuse;
}